.Result{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, Arial, sans-serif;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

#home-button {
    cursor: pointer;
    margin: 5px;
    text-align: center;
}
