@import "../../../node_modules/react-modal-video/scss/modal-video.scss";
.play-btn {
    color: green;
    border: none;
    background-color: inherit;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.play-btn:hover {
    background: rgb(216, 218, 217);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .play-btn {
        font-family: "Josefin Sans", sans-serif;
        font-size: 11px;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .play-btn {
        font-family: "Josefin Sans", sans-serif;
        font-size: 12px;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .play-btn {
        font-family: "Josefin Sans", sans-serif;
        font-size: 13px;
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .play-btn {
        font-family: "Josefin Sans", sans-serif;
        font-size: 15px;
        text-align: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .play-btn {
        font-family: "Josefin Sans", sans-serif;
        font-size: 16px;
        text-align: center;
    }
}
